^{:watch-dirs ["frontend" "shared" "../../plugins/frontend/" "../../plugins/shared/"]
  :css-dirs ["resources/public/css"]
  :auto-bundle :webpack
  :reload-clj-files #{:cljc}
  :hot-reload-cljs true}
{:main de.explorama.frontend.woco.app.core
 :output-to "resources/public/js/out/main.js"
 :output-dir "resources/public/js/out"
 :asset-path "/js/out"
 :optimizations :none
 :source-map true
 :preloads [devtools.preload]
 :after-load de.explorama.frontend.woco.app.core/reload
 :closure-defines {de.explorama.frontend.woco.config/debug? true}}
