{:settings {:group "Todo" :class "icon__settings"}
 :timeline {:group "Todo" :class "icon__timeline"}
 :menu {:group "Todo" :class "icon__menu"}
 :burgermenu {:group "Todo" :class "icon__burgermenu"}
 :maximize {:group "Todo" :class "icon__maximize"}
 :minimize {:group "Todo" :class "icon__minimize"}
 :window-min {:group "Todo" :class "icon__window-min"}
 :window-multiple {:group "Todo" :class "icon__window-multiple"}
 :window-max {:group "Todo" :class "icon__window-max"}
 :anchor {:group "Todo" :class "icon__anchor"}
 :back {:group "Todo" :class "icon__back"}
 :bars {:group "Todo" :class "icon__bars"}
 :bars2 {:group "Todo" :class "icon__bars2"}
 :bell {:group "Todo" :class "icon__bell"}
 :book {:group "Todo" :class "icon__book"}
 :broom {:group "Todo" :class "icon__broom"}
 :camera {:group "Todo" :class "icon__camera"}
 :card1 {:group "Todo" :class "icon__card1"}
 :card2 {:group "Todo" :class "icon__card2"}
 :card3 {:group "Todo" :class "icon__card3"}
 :charts {:group "Todo" :class "icon__charts"}
 :check-square {:group "Todo" :class "icon__check-square"}
 :close {:group "Todo" :class "icon__close"}
 :close2 {:group "Todo" :class "icon__close2"}
 :cog {:group "Todo" :class "icon__cog"}
 :cog1 {:group "Todo" :class "icon__cog1"}
 :cog2 {:group "Todo" :class "icon__cog2"}
 :cogs {:group "Todo" :class "icon__cogs"}
 :compress {:group "Todo" :class "icon__compress"}
 :compress1 {:group "Todo" :class "icon__compress1"}
 :database {:group "Todo" :class "icon__database"}
 :envelope {:group "Todo" :class "icon__envelope"}
 :expand {:group "Todo" :class "icon__expand"}
 :expand1 {:group "Todo" :class "icon__expand1"}
 :eye-plus {:group "Todo" :class "icon__eye-plus"}
 :eye-slash {:group "Todo" :class "icon__eye-slash"}
 :eye {:group "Todo" :class "icon__eye"}
 :file-text {:group "Todo" :class "icon__file-text"}
 :filter {:group "Todo" :class "icon__filter"}
 :focus {:group "Todo" :class "icon__focus"}
 :folder-open {:group "Todo" :class "icon__folder-open"}
 :mosaic-scale-content {:group "Todo" :class "icon__mosaic-scale-content"}
 :mosaic-scale-window {:group "Todo" :class "icon__mosaic-scale-window"}
 :mosaic {:group "Todo" :class "icon__mosaic"}
 :mosaic2 {:group "Todo" :class "icon__mosaic2"}
 :mosaicscalecontent {:group "Todo" :class "icon__mosaicscalecontent"}
 :head-cogs {:group "Todo" :class "icon__head-cogs"}
 :home {:group "Todo" :class "icon__home"}
 :info-circle {:group "Todo" :class "icon__info-circle"}
 :language {:group "Todo" :class "icon__language"}
 :magic {:group "Todo" :class "icon__magic"}
 :map {:group "Todo" :class "icon__map"}
 :maximizewindow {:group "Todo" :class "icon__maximizewindow"}
 :maxwindow2 {:group "Todo" :class "icon__maxwindow2"}
 :minimizewindow {:group "Todo" :class "icon__minimizewindow"}
 :nolayout_1 {:group "Todo" :class "icon__nolayout_1"}
 :nolayout_2 {:group "Todo" :class "icon__nolayout_2"}
 :nolayout_3 {:group "Todo" :class "icon__nolayout_3"}
 :notallowed {:group "Todo" :class "icon__notallowed"}
 :objectcard {:group "Todo" :class "icon__objectcard"}
 :plus {:group "Todo" :class "icon__plus"}
 :question-circle {:group "Todo" :class "icon__question-circle"}
 :reorder {:group "Todo" :class "icon__reorder"}
 :reset {:group "Todo" :class "icon__reset"}
 :save {:group "Todo" :class "icon__save"}
 :save2 {:group "Todo" :class "icon__save2"}
 :search {:group "Todo" :class "icon__search"}
 :select {:group "Todo" :class "icon__select"}
 :share {:group "Todo" :class "icon__share"}
 :sherlock {:group "Todo" :class "icon__sherlock"}
 :sign-out {:group "Todo" :class "icon__sign-out"}
 :sort-asc {:group "Todo" :class "icon__sort-asc"}
 :sort-desc {:group "Todo" :class "icon__sort-desc"}
 :sort_asc {:group "Todo" :class "icon__sort_asc"}
 :start {:group "Todo" :class "icon__start"}
 :table {:group "Todo" :class "icon__table"}
 :trash {:group "Todo" :class "icon__trash"}
 :user {:group "Todo" :class "icon__user"}
 :users {:group "Todo" :class "icon__users"}
 :warning {:group "Todo" :class "icon__warning"}
 :woco {:group "Todo" :class "icon__woco"}
 :edit {:group "Todo" :class "icon__edit"}
 :infosettings {:group "Todo" :class "icon__infosettings"}
 :star-o {:group "Todo" :class "icon__star-o"}
 :star {:group "Todo" :class "icon__star"}
 :star {:group "Todo" :class "icon__star"}
 :reset {:group "Todo" :class "icon__reset"}
 :timeline {:group "Todo" :class "icon__timeline"}
 :info-circle {:group "Todo" :class "icon__info-circle"}
 :filter {:group "Todo" :class "icon__filter"}
 :close {:group "Todo" :class "icon__close"}
 :reorder {:group "Todo" :class "icon__reorder"}
 :burgermenu {:group "Todo" :class "icon__burgermenu"}
 :infosettings {:group "Todo" :class "icon__infosettings"}
 :warning {:group "Todo" :class "icon__warning"}
 :reset {:group "Todo" :class "icon__reset"}
 :timeline {:group "Todo" :class "icon__timeline"}
 :info-circle {:group "Todo" :class "icon__info-circle"}
 :filter {:group "Todo" :class "icon__filter"}
 :close {:group "Todo" :class "icon__close"}
 :reorder {:group "Todo" :class "icon__reorder"}
 :burgermenu {:group "Todo" :class "icon__burgermenu"}
 :infosettings {:group "Todo" :class "icon__infosettings"}
 :warning {:group "Todo" :class "icon__warning"}
 :reset {:group "Todo" :class "icon__reset"}
 :timeline {:group "Todo" :class "icon__timeline"}
 :info-circle {:group "Todo" :class "icon__info-circle"}
 :filter {:group "Todo" :class "icon__filter"}
 :close {:group "Todo" :class "icon__close"}
 :reorder {:group "Todo" :class "icon__reorder"}
 :burgermenu {:group "Todo" :class "icon__burgermenu"}
 :infosettings {:group "Todo" :class "icon__infosettings"}
 :difference {:group "Todo" :class "icon__difference"}
 :union {:group "Todo" :class "icon__union"}
 :intersect {:group "Todo" :class "icon__intersect"}
 :symdiff {:group "Todo" :class "icon__symdiff"}
 :users {:group "Todo" :class "icon__users"}
 :close {:group "Todo" :class "icon__close"}
 :close {:group "Todo" :class "icon__close"}
 :close {:group "Todo" :class "icon__close"}
 :check {:group "Todo" :class "icon__check"}
 :start {:group "Todo" :class "icon__start"}
 :search {:group "Todo" :class "icon__search"}
 :filter {:group "Todo" :class "icon__filter"}
 :close {:group "Todo" :class "icon__close"}
 :start {:group "Todo" :class "icon__start"}
 :search {:group "Todo" :class "icon__search"}
 :filter {:group "Todo" :class "icon__filter"}
 :close {:group "Todo" :class "icon__close"}
 :users {:group "Todo" :class "icon__users"}
 :users {:group "Todo" :class "icon__users"}
 :user {:group "Todo" :class "icon__user"}
 :objectcard {:group "Todo" :class "icon__objectcard"}
 :mosaic {:group "Todo" :class "icon__mosaic"}
 :sherlock {:group "Todo" :class "icon__sherlock"}
 :search {:group "Todo" :class "icon__search"}
 :map {:group "Todo" :class "icon__map"}
 :table {:group "Todo" :class "icon__table"}
 :warning {:group "Todo" :class "icon__warning"}
 :language {:group "Todo" :class "icon__language"}
 :woco {:group "Todo" :class "icon__woco"}
 :users {:group "Todo" :class "icon__users"}
 :user {:group "Todo" :class "icon__user"}
 :objectcard {:group "Todo" :class "icon__objectcard"}
 :mosaic {:group "Todo" :class "icon__mosaic"}
 :sherlock {:group "Todo" :class "icon__sherlock"}
 :search {:group "Todo" :class "icon__search"}
 :map {:group "Todo" :class "icon__map"}
 :table {:group "Todo" :class "icon__table"}
 :warning {:group "Todo" :class "icon__warning"}
 :language {:group "Todo" :class "icon__language"}
 :woco {:group "Todo" :class "icon__woco"}
 :users {:group "Todo" :class "icon__users"}
 :users {:group "Todo" :class "icon__users"}
 :users {:group "Todo" :class "icon__users"}
 :user {:group "Todo" :class "icon__user"}
 :user {:group "Todo" :class "icon__user"}
 :objectcard {:group "Todo" :class "icon__objectcard"}
 :objectcard {:group "Todo" :class "icon__objectcard"}
 :mosaic {:group "Todo" :class "icon__mosaic"}
 :mosaic {:group "Todo" :class "icon__mosaic"}
 :sherlock {:group "Todo" :class "icon__sherlock"}
 :sherlock {:group "Todo" :class "icon__sherlock"}
 :search {:group "Todo" :class "icon__search"}
 :search {:group "Todo" :class "icon__search"}
 :map {:group "Todo" :class "icon__map"}
 :map {:group "Todo" :class "icon__map"}
 :table {:group "Todo" :class "icon__table"}
 :table {:group "Todo" :class "icon__table"}
 :info {:group "Todo" :class "icon__info"}
 :info {:group "Todo" :class "icon__info"}
 :collapse {:group "Todo" :class "icon__collapse"}
 :collapse {:group "Todo" :class "icon__collapse"}
 :close {:group "Todo" :class "icon__close"}
 :info-circle {:group "Todo" :class "icon__info-circle"}
 :info-circle {:group "Todo" :class "icon__info-circle"}}
