.lsp
.clj-kondo
.lein-repl-history
.nrepl-port
.calva/

assets/css
assets/fonts 
assets/img

temp

dist
test-dist
figwheel_server.log
libs/*/.calva/output-window
libs/*/target
node_modules

bundles/browser/resources/public/*
!bundles/browser/resources/public/index.html

bundles/electron/Explorama-dev
bundles/electron/dist
bundles/electron/prebuild

bundles/server/resources/converted/

bundles/*/de.explorama.backend.expdb.simple.sqlite3
bundles/*/de.explorama.backend.expdb.indexed.sqlite3
bundles/*/de.explorama.backend.expdb.simple-test.sqlite3
bundles/*/de.explorama.backend.expdb.indexed-test.sqlite3
bundles/*/target
bundles/*/vite-target
bundles/*/loader.js
bundles/*/assets/
bundles/*/resources/main.js
bundles/*/resources/public/css
bundles/*/resources/public/fonts
bundles/*/resources/public/img
bundles/*/resources/public/js
bundles/*/resources/public/assets
bundles/*/.lein-failures
bundles/*/.rebel_readline_history
bundles/*/.calva/output-window
bundles/*/.shadow-cljs
bundles/*/public/*
!bundles/*/public/index.html
bundles/*/out

tools/profiling-tool/gen_src/
tools/profiling-tool/gen_resources/
tools/profiling-tool/gen_raw_data/
tools/profiling-tool/target
tools/cli-data-transformer/target/

*.pid

webpack-target/
.cpcache/
