@use '../base/variables' as *;
@use '../base/colormap' as *;
@use '../base/icons' as *;

.legend__panel {
  --animationEditButton: fadeIn 120ms ease-out;

  display: flex;
  flex-direction: column;
  flex: 0 0 240px;
  height: 100%;
  border-left: size('2') solid var(--border);
  background-color: var(--bg);
  overflow: auto;
  
  .panel__footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: auto;
    padding: 8px;
    border-top: size('2') solid var(--border);
  }
  
  .panel__scroll__container {
    overflow-y: auto;
  }
  
  .panel__section {
    display: flex;
    flex-direction: column;
    
    &:last-child {
      border-bottom: none;
      flex-grow: 1;
      max-height: 100%;
    }
    
    .section__title {
      padding: size('8') size('8') 0;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-weight: normal;
        font-size: font-size('xs');

        &[class^='icon-'] {
          display: inline-block;
          width: 1em;
          height: 1em;
          margin-left: size('4');
          margin-bottom: size('2');
          background-color: var(--icon-secondary);
          vertical-align: middle;
        }
      }

      div.tooltip-wrapper {
        display: inline-block;
      }
    }
    
    .section__content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      
      .panel__subsection {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &:first-child .subsection__title:first-child {
          padding-top: size('8');
        }
        
        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }
        
        &:not(:has(> .subsection__content)) {
          padding: 0.375em;
        }
        
        .subsection__title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 size('12');
          color: var(--text-secondary);
          font-size: font-size('xs');
          line-height: line-height('slack');

          button:has(> span[class^="icon-"]) {
            animation: var(--animationEditButton);
          }
        }
        
        .subsection__content {
          flex-grow: 1;
          padding: size('4') size('8');

          &:has(> .subsection__element) {
            padding: size('8');
          }
        }
        
        .add-layout {
          position: relative;
          
          :is(.menu__overlay--map, .menu__overlay--mosaic) {
            top: 0;
            z-index: 0;
            width: 100%;
            padding: 3px;
            box-shadow: none;
            background: none;
            border: none;
            border-radius: radius('xs');
            
            .select-input {
              box-shadow: none;
              border: none;
            }
          }
        }
        
        &.draggable-content .subsection__element {
          display: flex;
          padding: 0;

          &:not(:last-child) {
            margin-bottom: size('8');
          }
          
          &:first-of-type:not(:has(+ .subsection__element)) .draggable__controls {
            display: none;
          }

          .draggable__controls {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 size('6');
            cursor: move;

            button {
              padding: 0;
              background: none;
              border: none;
                            
              &:disabled span {
                background-color: color('gray-200');
              }
              
            }
            
            > span span {
              @include icon($icon: 'drag-4');
              background-color: color('gray');
            }
            
            &.no-drag {
              padding: 0;
              border-right: size('1') solid color('gray-100');
              border-bottom: none;
              border-top-left-radius: radius('xs');
              border-bottom-left-radius: radius('xs');
              cursor: auto;

              button {
                flex-grow: 1;
                padding: size('4');

                &.draggable__up {
                  border-bottom: size('1') solid color('gray-100');

                  span {
                    @include icon($icon: 'arrow-up', $size: 11px);
                    background-color: var(--icon);
                    transition: background-color 120ms;
                  }
                }
                
                &.draggable__down span {
                  @include icon($icon: 'arrow-down', $size: 11px);
                  background-color: var(--icon);
                  transition: background-color 120ms;
                }
  
                &:hover {
                  cursor: pointer;

                  span {
                    background-color: var(--icon-hover);
                  }
                }

                &:disabled {
                  cursor: default;

                  span {
                    background-color: var(--icon-disabled);
                  }
                }
              }

              > span {
                display: none;
              }              
            }
          }

          .draggable__content {
            flex-grow: 1;
            min-width: 0;
            padding: size('6') size('12');
          }
          
          .disabled-overlay {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          
          &:first-child {
            padding-top: 0;

            .disabled-overlay {
              top: -2px;
              height: 100%;
            }
          }
        }
        
        .subsection__element {
          position: relative;
          padding: size('6') size('12');
          border-radius: radius('md');
          background-color: var(-bg-section);
          border: width('1') solid var(--border);

          &:not(:last-child) {
            margin-bottom: size('8');
          }

          .subsection__element__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 12px;
            font-weight: bold;
            line-height: line-height('slack');

            button:has(> span[class^="icon-"]) {
              animation: var(--animationEditButton);
            }

            > span[class^="icon-"] {
              background-color: var(--icon);
            }

            span.layer__type {
              color: color('gray-600');
              font-size: 10px;
              font-weight: normal;
            }

            div.button__group {
              gap: 0;
              margin-left: size('8');

              button {
                background: none;
                border: none;
                box-shadow: none;

                &:hover {
                  background-color: color('gray-100');
                }

                span {
                  background-color: color('gray');
                }
              }
            }
          }

          &.hidden .subsection__element__title span.layer__name {
            text-decoration: line-through;
          }

          ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
              display: flex;
              align-items: center;
              font-size: 12px;

              .legend__value {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }

              span.legend__color {
                width: 12px;
                height: 12px;
                margin-right: size('6');
                flex-shrink: 0;
                border-radius: radius('xxs');
                box-shadow: shadow('xs');
              
                &.circle {
                  border-radius: radius('full');
                  width: 8px;
                  height: 8px;
                  margin: 3px 8px size('2') size('2');
                }
              
                &.line {
                  height: size('2');
                  margin-top: size('2');
                }
              
                &.circle-line {
                  display: block;
                  width: 12px;
                  height: 12px;
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%3E%3Ccircle%20cx%3D%22250%22%20cy%3D%22250%22%20r%3D%22166.7%22%2F%3E%3Cpath%20stroke%3D%22%23000%22%20stroke-width%3D%2283%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M0%20250h500%22%2F%3E%3C%2Fsvg%3E");
                }
              }
            }
          }

          .disabled-overlay {
            position: absolute;
            top: size('2');
            left: -4px;
            width: calc(100% + 8px);
            height: calc(100% - 4px);
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: radius('xs');
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 16px;
            font-size: 10px;
            font-weight: bold;
            z-index: 1;

            button {
              position: absolute;
              top: size('2');
              right: size('2');
              background: none;
              box-shadow: none;
              border: none;
              border-radius: radius('xs');
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 4px;
              padding: size('2') 4px;
              color: color('gray');
              font-size: 10px;
              font-weight: normal;
              
              &:hover {
                background-color: color('gray-100');
                color: color('gray-800');
                
                span {
                  filter: invert(30%) sepia(14%) saturate(356%) hue-rotate(169deg) brightness(94%) contrast(92%);
                }
              }

              span {
                display: block;
                width: 12px;
                height: 12px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                filter: invert(68%) sepia(2%) saturate(1881%) hue-rotate(170deg) brightness(84%) contrast(75%);
                margin: 0;
              }
            }
          }
        }

        .subsection__control {
          font-size: 12px;
          
          .explorama__form__select {
            margin-bottom: 4px;
            
            &:last-child {
              margin: 0;
            }
            
            label {
              display: flex;
              flex-direction: row;
              align-items: center;
              white-space: nowrap;
            }
            
            .basic-multi-select {
              margin: 0;
            }
          }
        }
      }

      dl {
        display: flex;
        flex-direction: column;
        margin: 0;
        font-size: 12px;
        
        div {
          display: flex;
          justify-content: space-between;
          
          dt {
            color: var(--text-secondary);
          }
          
          dd {
            margin: 0;
            text-align: end;
          }
        } 

        p {
          margin: 2px 0;
          border-bottom: 1px solid var(--border);
        }
      }

      .collapsible {
        .content {
          display: none;
          
          &.open {
            display: block;
          }
        }

        a {
          text-decoration: none;
          
          &:hover .label {
              color: var(--text);
          }
        }
        
        .collapsible__bar {
          margin: size('2') 0;
          overflow: auto;
          
          .label {
            width: 100%;
            margin: 10px 0;
            text-align: center;
            border-bottom: size('1') solid var(--border);
            line-height: 0.1em;
            color: var(--text-secondary);
            font-size: font-size('xs');
            overflow: visible;
          
            span {
              padding: 0 size('8');
              background: var(--bg);
            }
          }
        }
      }       
    }
  }

  .section__collapsible__content .edc__layouts {
      justify-content: space-between;
      margin: 0 0 12px;
      padding: 0;
  }
}

ul.legend {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: flex;
    align-items: center;
    font-size: 12px;

    span.legend__color {
      flex-shrink: 0;
      width: 12px;
      height: 12px;
      margin-right: size('6');
      border-radius: radius('xxs');
      box-shadow: shadow('xs');
      
      &.circle {
        width: 8px;
        height: 8px;
        margin: 3px 8px size('2') size('2');
        border-radius: 50%;
      }
    
      &.line {
        height: size('2');
        margin-top: size('2');
      }
    
      &.circle-line {
        display: block;
        width: 12px;
        height: 12px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%3E%3Ccircle%20cx%3D%22250%22%20cy%3D%22250%22%20r%3D%22166.7%22%2F%3E%3Cpath%20stroke%3D%22%23000%22%20stroke-width%3D%2283%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M0%20250h500%22%2F%3E%3C%2Fsvg%3E");
      }
    }
  
    .legend__value {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

}

.data__hint {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: size('6') 0;
  padding: size('4');
  background-color: var(--bg-section);
  border-radius: radius('xs');
  font-size: 10px;
  
  span {
    flex-shrink: 0;
    margin-right: size('6');
    margin-left: size('4');
    background-color: var(--icon-secondary);
  }
}

.color__assignments {
  display: flex;
  flex-direction: column;
  gap: size('4');
  margin-top: size('4');

  .drag-container {
    margin-bottom: size('4');
    pointer-events: none;

    > div > div > :is(div, button) {
      pointer-events: all;
    }
  }
  
  > .color__assignments__row {
    margin-left: 22px;
  }

  &:has(.color__assignments__row.empty:hover span.icon-error) .input.invalid .text-input {
    outline: size('1') solid color('red-600');
  }
}

.color__assignments__row {
  display: flex;
  align-items: center;
  
  span.icon-drag-indicator {
    width: size('20');
    height: size('20');
    background-color: var(--icon-secondary);
  }

  .input:not(.color__block) {
    pointer-events: none;

    :is(input, button, .select-input) {
      pointer-events: all;
    }
  }

  .color__block {
    flex-shrink: 0;
    width: size('24');
    height: size('24');
    border-radius: radius('full');
    box-shadow: shadow('sm');
    overflow: hidden;

    input[type=color] {
      cursor: pointer;
    }
  }
  
  .color__value {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
    .color__assignment__header__left {
      margin-left: size('48');
      text-align: center;
    }

    .color__assignment__header__right {
      margin-right: size('48');
      text-align: center;
    }
  }
  
  button.color__remove {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    box-shadow: none;
    margin: 0 0 0 size('4');
    padding: 5.5px;
    background-color: color('gray-200');
    border-radius: radius('xxs');
    
    &:hover {
      background-color: color('gray-400');
    }
    
    &[disabled] {
      background-color: color('gray-200');
    }
  }
  
  &.empty {
    align-self: flex-start;
    margin-left: size('28');
    cursor: pointer;
    transition: color 120ms;
    
    .color__block {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
      border: size('1') dashed var(--icon);
      transition: border-color 120ms;

      span {
        background-color: var(--icon);
        transition: background-color 120ms;
      }
    }
    
    &:hover {
      color: var(--primary);
      
      .color__block {
        border-color: var(--primary);

        span {
          background-color: var(--primary);
        }
      }
    }

    &:has(.icon-error) {
      padding: size('8') size('4');
      border-radius: radius('xs');
      background-color: var(--bg-error);
      color: color('red-700');
      font-size: font-size('xs');
      cursor: default;
      
      .color__block {
        border-width: 0;
        box-shadow: none;
        margin-right: size('4');

        span {
          background-color: color('red-600');
        }
      }
    }
  }  
}


dl.data-desc-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 12px;
  
  div {
    display: flex;
    justify-content: space-between;
    
    dt {
      color: color('gray');
    }

    dd {
      margin: 0;
      max-width: 65%;
      text-align: end;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .operator {
        color: var(--primary);
      }
    }
    
    &.source {
      padding: 0 10px size('4') 10px;
      margin: 0 -10px size('4') -10px;
      border-bottom: size('1') solid var(--border);
    }
  }
  
  p {
    margin: size('2') 0;
    border-bottom: size('1') solid var(--border);
  }
}
