@use '../base/variables' as *;
@use '../base/colormap' as *;

body.login {
	background: url(/img/woco-bg-login.jpg) center center / cover no-repeat, #182f3d;

	.login-logo {
		width: 100px;
		margin-bottom: size('32');
	}

	form {
		label {
			color: color('gray-100');
		}

		.input .text-input {
			border-color: transparent;
			box-shadow: shadow('lg');
		}

		.checkbox input {
			border-color: color('white');
		}
	} 
}

// TODO: perhaps move the explorama-overlay code to somewhere else since this is not exclusive to the login page
.explorama-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 250000; // TODO: z-index
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: var(--bg-page) center top no-repeat, linear-gradient(var(--bg-page-gradient-top) 80%, var(--bg-page-gradient-bottom) 80%);
	transition: transform .2s;

	.explorama-overlay-content {
		max-width: 768px;
  		margin: 100px 0;
	}

	.explorama-overlay-close {
		position: fixed;
		top: 20px;
		right: 20px;
	}

	h1 {
		font-size: 2.25rem;
		font-weight: 300;
		color: var(--text);
	}

	h2 {
		color: color('purple-600');
		margin: 1.5rem 0 0.5rem;
		text-transform: uppercase;
	}

	h3 {
		font-size: 1.125rem;
		color: var(--text);
		margin: 1rem 0 0.25rem;
	}

	p, center, ul, ol {
		font-size: 1.125rem;
		font-weight: 300;
		color: var(--text);
	}
	
	p {
		margin: 0 0 1rem;
		text-align: justify;
	}

	center {
		margin: 0 0 1rem;
	}

	ul {
		margin: 0;
		text-align: justify;
	}

	ol {
		margin: 0;
		padding-inline-start: 25px;
		text-align: justify;
		counter-reset: item;

		&>li {
			counter-increment: item;
			margin: 0 0 1rem;

			&::marker {
				content: "(" counter(item) ") ";
			}
		}

		ul {
			list-style-type: disc;
			margin-block-start: 1rem;
		}
	}
}