{:watch-dirs ["frontend" "backend" "shared" "../../plugins/backend" "../../plugins/frontend" "../../plugins/shared"]
 :ring-server-options {:port 8020}
 :reload-clj-files #{:cljc}
 :log-level :debug
 :connect-url "ws://localhost:8020/figwheel-connect"}
