@use 'variables' as *;
@use 'colormap' as *;
@use 'scrollbars';

*, *:before, *:after {
    box-sizing: border-box;
}

:focus {
    outline: inherit;
    outline-offset: inherit;
}

.initial {
    visibility: visible;
}

html {
    overscroll-behavior: none;
}

body {
    background-color: var(--bg);
    color: var(--text);
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    font-size: .875rem;
    overflow: hidden;
    overscroll-behavior: none;
    hyphens: auto;
    user-select: none;
}

* {
    @include scrollbars.scrollbar();
}

#app > div:has(.explorama) {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.explorama__workspace { // , .welcome__page
    height: 100vh !important;
	position: relative;
    background-color: var(--bg-section);
}

a:link:not([class*="btn"]), a:visited:not([class*="btn"]) {
    color: var(--link);
}
a:active {
    color: color('orange-500');
}

:is(h1,h2,h3,h4,h5,h6) {
    margin: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

.vertical__snapline, .horizontal__snapline {
    z-index: 1;
    width: 4px;
    height: 4px;
    border: none;
    opacity: .2;
}

.vertical__snapline {
    height: 100%;
    background-position: left;
    background-image: linear-gradient(to bottom, color('blue') 60%, #ffffff00 0%);
    background-size: 4px 20px;
    background-repeat: repeat-y;
    translate: -2px 0;
}

.horizontal__snapline {
    width: 100%;
    background-position: top;
    background-image: linear-gradient(to right, color('blue') 60%, #ffffff00 0%);
    background-size: 20px 4px;
    background-repeat: repeat-x;
    translate: 0 -2px;
}

// Hack to remove light blue background color from autofilled input elements
input:-internal-autofill-previewed, input:-internal-autofill-selected {
    box-shadow: inset 0 0 0 30px var(--bg);
}