/* ========== Rotation ========== */

.rotate-0 {
    rotate: 0deg;
}
.rotate-45 {
    rotate: 45deg;
}
.rotate-90 {
    rotate: 90deg;
}
.rotate-180 {
    rotate: 180deg;
}

// add scale and translate if necessary