{:paths ["frontend"
         "backend"
         "shared"
         "resources"
         "../../plugins/backend"
         "../../plugins/frontend"
         "../../plugins/shared"
         "../../assets"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        com.bhauman/figwheel-main {:mvn/version "0.2.18"}
        com.bhauman/cljs-test-display {:mvn/version "0.1.1"}

        ;; Existing dependencies from shadow-cljs.edn
        binaryage/devtools {:mvn/version "1.0.5"}
        mount/mount {:mvn/version "0.1.17"}

        ;; Common
        com.taoensso/timbre {:mvn/version "5.1.2"}
        com.taoensso/tufte {:mvn/version "2.2.0"}
        expound/expound {:mvn/version "0.9.0"}

        ;; Client-side
        metosin/malli {:mvn/version "0.12.0"}
        com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
        clj-time/clj-time {:mvn/version "0.15.2"}
        org.clojure/math.combinatorics {:mvn/version "0.2.0"}

        day8.re-frame/http-fx {:mvn/version "0.2.4"}
        re-frame-utils/re-frame-utils {:mvn/version "0.1.0"}
        funcool/cuerdas {:mvn/version "2022.06.16-403"}

        prismatic/dommy {:mvn/version "1.1.0"}

        reagent/reagent {:mvn/version "1.0.0"}
        re-frame/re-frame {:mvn/version "1.2.0"}}

 :aliases {:dev {:main-opts ["-m" "figwheel.main" "--build" "dev" "--repl"]}
           :test {:extra-paths ["test"]
                  :main-opts ["-m" "figwheel.main" "--build" "test" "--repl"]}}}
