{:source-paths ["frontend"
                "backend"
                "shared"
                "../../plugins/backend"
                "../../plugins/frontend"
                "../../plugins/shared"
                "../../assets"]


 :dependencies [[org.clojure/clojurescript "1.11.132"]
                [org.clojure/core.async "1.6.681"]


                [mount "0.1.17"]

                 ;; Common
                [com.taoensso/timbre "5.1.2"]
                [com.taoensso/tufte "2.2.0"]

                [expound/expound "0.9.0"] ;TODO r1/deps remove this once we do not use spec any more

                 ;; Client-side
                [metosin/malli "0.12.0"]

                [com.andrewmcveigh/cljs-time "0.5.2"]
                [clj-time/clj-time "0.15.2"]
                [org.clojure/math.combinatorics "0.2.0"]

                [day8.re-frame/http-fx "0.2.4"]
                [re-frame-utils/re-frame-utils "0.1.0"]
                [funcool/cuerdas "2022.06.16-403"]

                [prismatic/dommy "1.1.0"]

                [reagent/reagent "1.0.0"]
                [re-frame/re-frame "1.2.0"]]

 :dev-http {8020 "public"}

 :builds {:app
          {:target :browser
           :output-dir "public/js"
           :asset-path "/js"
           
           :modules
           {:main {:init-fn de.explorama.frontend.woco.app.core/init}}}}}