{:output-to "target/test/out/main.js"
 :output-dir "target/test/out"
 :asset-path "/out"
 :main de.explorama.test-runner
 :optimizations :none
 :target :bundle
 :bundle-cmd {:none ["npx" "webpack" "--mode=development" "./target/test/out/main.js" "-o" "./target/test/out/main_bundle.js"]
              :default ["npx" "webpack" "--mode=development" "./target/test/out/main.js" "-o" "./target/test/out/main_bundle.js"]}
 :source-map true
 :verbose false}
