^{:watch-dirs ["test" "frontend" "backend" "shared" "../../plugins/backend" "../../plugins/frontend" "../../plugins/shared"]
  :css-dirs ["resources/public/css"]
  :auto-testing true
  :auto-bundle :webpack
  :open-url false
  :ring-server-options {:port 8021}}
{:main de.explorama.test-runner
 :output-to "target/test/out/main.js"
 :output-dir "target/test/out"
 :asset-path "/out"
 :optimizations :none
 :source-map true}
